:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: var(--header-color);
    padding: 2rem;
}

header .title {
    font-size: 28px;
}

main {
    display: flex;
    flex-grow: 1;
}

.map-container {
    flex-grow: 1;
    border-radius: 10px;
}

footer {
    background-color: var(--header-color);
    padding: 1em;
}