.flex {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border-radius: 10px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
  max-height: 90%;
}

.card h5 {
  text-align: center;
}

.flex .group {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  min-height: 73%;
  min-width: 89%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 90%;
  max-height: 96%;
}

.flex form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2.5vw;
}

.flex form .left {
  display: flex;
  flex-flow: column wrap;
  max-width: 97%;
  max-height: 100%;
}

.flex form .left #customerReferenceNumber {
  width: 100%;
}

.flex form .left #portCode {
  width: 100%;
}

.flex form .right {
  max-width: 100%;
  max-height: 100%;
}

.flex form .right .wider {
  box-shadow: none;
  max-width: 40% !important;
}

.flex .space-y-6 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.flex form label {
  margin-top: 2rem;
}

.flex form button {
  background-color: #646153;
  width: 100%;
  margin-top: 10%;
}

.flexdiv {
  display: flex;
  flex-flow: row;
  gap: 3%;
}

.flex form select {
  width: 12vw;
}

.disabled {
  background-color: #d1d5db !important;
}

.table {
  margin-top: 2%;
  background-color: #ffffff;
  border-radius: 10px;
  height: 92%;
  overflow: auto;
  display: flex;
  justify-self: center;
  align-self: center;
}

.table td {
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
}

.table tr .py-4 {
  padding-top: 1.55vh !important;
  padding-bottom: 1.55vh !important;
}

table {
  width: 50vw;
}

tr:hover {
  background-color: #e6e6e6;
}

.table img {
  width: 4vh;
}

.table img:hover {
  filter: brightness(85%);
}

.table .modalbutton {
  max-width: 0vw;
  height: 4vh;
  padding: 0.5vh;
  text-align: center;
  margin-top: 0 !important;
  position: sticky;
  background-color: transparent !important;
}

.table .modalbutton span {
  border-radius: 8px;
  background-color: #646153;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 2vw;
  padding-right: 2vw;
}

.table .addproduct-modal {
  cursor: pointer;
}

#confirmation-modal {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 27vw;
  display: flex;
  align-self: center;
  justify-self: center;
  animation: modalAppear 0.5s ease-in-out;
}

#addproduct-modal {
  display: flex !important;
  align-self: center !important;
  justify-self: center !important;
  margin-top: 2vh;
  animation: modalAppear 0.5s ease-in-out;
}

#addproduct-modal .card button[type="submit"] {
  margin-top: 4vh;
  text-align: center;
}

.modal .card .close {
  display: flex;
  justify-self: right;
  margin-top: -4vh;
  background-color: #e6e6e6;
}

.modal .card .close:hover,
.confirmation-modal .close {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}

@keyframes modalAppear {
  from {
    top: -200vh;
  }

  to {
    bottom: 0vh;
  }
}

.modal .card .flexdiv {
  margin-top: 1vh;
}

.modal .card .modal-submit {
  margin-top: 2vh;
  display: flex;
  justify-content: center;
}

#addproduct-modal .flexdiv select {
  min-width: 9.45rem;
}

.required {
  color: red;
}
